body {
  width: 300px;
}

#header {
  display: block;
  margin-top: 10;
  height: 40;
}

#header img {
  height: 30;
}

#title {
  font-size: 20;
}

#logo {
  float: left;
  margin-right: 20;
}

#onOff {
  float: right;
}

#onOff * {
  display: inline-block;
  vertical-align: middle;
}

#actionsList ul {
  padding: 0;
}


.action {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.actionIcon {
  padding-left: 5;
  padding-right: 5;
  vertical-align: middle;
  height: 20px;
  width: 20px;
}
