body {
  width: 300px;
}

.hide {
  display: none;
}

.show {
}

.grey {
  color: rgb(76, 76, 76);
}

code {
  background-color: rgb(238, 238, 238);
  padding-left: 3;
  padding-right: 3;
}

#title-bar {
  display: block;
  margin-top: 10;
  height: 40;
}

#title-bar img {
  height: 30;
}

#title-bar * {
  vertical-align: middle;
}

#title {
  font-size: 20;
  padding-left: 5;
}

#branding {
  float: left;
  margin-right: 20;
}

#on-off {
  float: right;
}

#on-off * {
  display: inline-block;
}

#on-off-text {
  font-size: 10;
  padding-right: 5;
}

#actionsList ul {
  padding: 0;
}

.action {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.actionIcon {
  padding-left: 5;
  padding-right: 5;
  vertical-align: middle;
  height: 20px;
  width: 20px;
}
